<div class="col-md-3">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            ANGULAR
        </a>
        <a href="#" class="list-group-item">type script</a>
        <a href="#" class="list-group-item">one way binding</a>
        <a href="#" class="list-group-item">two way binding</a>
        <a href="#" class="list-group-item">routing modules</a>
        <a href="#" class="list-group-item">form modules</a>
        <a href="#" class="list-group-item">ngModules</a>
        <a href="#" class="list-group-item">dependency injection</a>
        <a href="#" class="list-group-item">httpclient</a>        
    </div>   
</div>